@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao melhor site de games!</h1>
    <h2>@ViewBag.Teste - Número : @ViewBag.TesteInt</h2>
    <p>Aqui você encontra players para jogar junto.<a href="https://docs.microsoft.com/aspnet/core">Aqui você encontra players para jogar junto.</a>.</p>
</div>
